.vote__maxWidth {
    box-sizing: content-box;
    width: 100%;
}

@media (min-width: 1200px) {
    .vote__maxWidth {
        max-width: 848px;
    }
}

.vote__list:not(:last-child) {
    margin-bottom: 36px;
}

/* Result */
.vote__resultItem {
    color: #021437;
    width: 150px;
}
.vote__resultItem:not(:last-child) {
    margin-right: 80px;
}
.vote__resultCount {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 9px;
}
.vote__resultName {
    font-size: 12px;
    line-height: 18px;
}

.vote__resultItem_green {
    color: #5cb85c;
}
/* Button */
.vote__button,
.vote__itemButton {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 70px;
    background: #5cb85c;
    border: 0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.vote__itemButton {
    padding: 27px 80px;
    margin-left: auto;
}

.vote__button:hover,
.vote__itemButton:hover {
    background: #48c248;
}

/* Candidate */

.candidate{
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.candidate__img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    object-position: center;
}


@media (max-width: 450px) {
    .candidate {
        width: 100%;
        margin-right: 0;
    }

    .candidate__img{
        max-height: 317px;
    }
}


@media (min-width: 451px) and (max-width: 650px) {
    .candidate {
        width: calc(50% - 6px);
    }

    .candidate:nth-child(2n) {
        margin-right: 0;
    }

    .candidate__img{
        max-height: 154px;
    }
}

@media (min-width: 651px) and (max-width: 870px) {
    .candidate {
        width: calc(33.333333333% - 8px);
    }

    .candidate:nth-child(3n) {
        margin-right: 0;
    }

    .candidate__img{
        max-height: 149px;
    }
}

@media (min-width: 871px) {
    .candidate {
        width: calc(25% - 9px);
    }

    .candidate:nth-child(4n) {
        margin-right: 0;
    }

    .candidate__img{
        max-height: 152px;
    }
}

.candidateWhite div{
    color: white !important;
}

.candidate__content {
    padding: 7px 11px 12px;
}

.candidate__title {
    color: #021437;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 21px;
}

.candidate__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #90B2C9;
}

.candidate__text:not(:last-child) {
    margin-bottom: 8px;
}


.commissionVote{
    width: inherit;
    margin: 0;
    transition: 0.3s;
}

.commissionVote:hover {
    opacity: 0.6;
}