.registration__back {
    max-width: 1071px;
    width: 100%;
    margin: 0 auto;
    padding: 19px 30px 15px;
    box-sizing: content-box;
}

.registration__buttonLeft{
    margin-right: 16px;
}

@media (max-width: 1181px) {
    .registration__back {
        width: auto;
    }
}

@media (max-width: 767px) {
    .registration__back {
        padding: 12px 12px;
        width: auto;
    }
}

@media (max-width: 531px) {
    .registration__buttonLeft{
        margin-bottom: 16px;
        margin-right: 16px;
    }
}

.registration__maxWidth {
    max-width: 694px;
}
