.switch {
    position: relative;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 4px;
    height: 53px;
}

@media (max-width: 767px) {
    .switch {
        flex-wrap: nowrap;
    }
}

.switch__button {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #90b2c9;
    z-index: 2;
}

@media (max-width: 767px) {
    .switch__button {
        padding: 8px 6px;
    }
}

.switch__button_active {
    color: #ffffff;
    background: #001a68;
    border-radius: 4px;
}
